
@import url(../assets/font/opensans.css);

body {
    margin: 0;
    font-family: var(--font-family-base);
    font-size: var(--font-size-normal);
} 

/* Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border` */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: var(--heading-margin-bottom);
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    color: var(--heading-color);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

/* HR */
hr {
    margin: var(--spacer-1) 0;
    color: black;
    border: 0;
}

/* Containers */
div.container {
    padding: var(--container-padding-y) var(--container-padding-x) !important;
    margin: auto;
}

/* Margin units: All */
.m-0 {
    margin: var(--spacer-0) !important;
}
.m-1 {
    margin: var(--spacer-1) !important;
}
.m-2 {
    margin: var(--spacer-2) !important;
}
.m-3 {
    margin: var(--spacer-3) !important;
}
.m-4 {
    margin: var(--spacer-4) !important;
}
.m-5 {
    margin: var(--spacer-5) !important;
}
.m-6 {
    margin: var(--spacer-6) !important;
}

/* Margin units: Top */
.mt-0 {
    margin-top: var(--spacer-0) !important;
}
.mt-1 {
    margin-top: var(--spacer-1) !important;
}
.mt-2 {
    margin-top: var(--spacer-2) !important;
}
.mt-3 {
    margin-top: var(--spacer-3) !important;
}
.mt-4 {
    margin-top: var(--spacer-4) !important;
}
.mt-5 {
    margin-top: var(--spacer-5) !important;
}
.mt-6 {
    margin-top: var(--spacer-6) !important;
}

/* Margin units: Bottom */
.mb-0 {
    margin-bottom: var(--spacer-0) !important;
}
.mb-1 {
    margin-bottom: var(--spacer-1) !important;
}
.mb-2 {
    margin-bottom: var(--spacer-2) !important;
}
.mb-3 {
    margin-bottom: var(--spacer-3) !important;
}
.mb-4 {
    margin-bottom: var(--spacer-4) !important;
}
.mb-5 {
    margin-bottom: var(--spacer-5) !important;
}
.mb-6 {
    margin-bottom: var(--spacer-6) !important;
}
