/*
    js-components
    Web Components Design System
    github.com/mutablelogic/go-server
*/

:root {
    /* fonts */
    --font-family-base: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    --font-size-normal: 0.85rem;
    --font-size-small: 0.75rem;
    --font-size-large: 1.25rem;
    --font-weight-light: 300;
    --font-weight-normal: 300;
    --font-weight-bold: 400;
    --font-weight-extrabold: 800;

    /* colours */
    --primary-color: #16f;
    --secondary-color: #aaa;
    --success-color: #285;
    --warning-color: #f72;
    --error-color: #f55;
    --light-color: #eee;
    --white-color: #fff;
    --dark-color: #333;
    --black-color: #000;
    --grey-900-color: #222;

    /* controls */
    --control-color: #bbb;
    --control-color-hover: #ccc;
    --control-color-active: #ddd;
    --control-color-disabled: #ddd;
    
    /* grids and spacing */
    --spacer: 1rem;
    --spacer-0: 0;
    --spacer-1: calc(var(--spacer) * 0.2);
    --spacer-2: calc(var(--spacer) * 0.4);
    --spacer-3: calc(var(--spacer) * 0.6);
    --spacer-4: calc(var(--spacer) * 0.8);
    --spacer-5: calc(var(--spacer) * 1.0);
    --spacer-6: calc(var(--spacer) * 1.2);

    /* transitions */
    --fade-time: 150ms;

    /* containers */
    --container-padding-x: var(--spacer);
    --container-padding-y: var(--spacer-2);

    /* body */
    --body-background-color: var(--white-color);
    --body-color: var(--gray-900-color);

    /* headings */
    --h1-font-size: calc(var(--font-size-normal) * 2.5);
    --h2-font-size: calc(var(--font-size-normal) * 2);
    --h3-font-size: calc(var(--font-size-normal) * 1.75);
    --h4-font-size: calc(var(--font-size-normal) * 1.5);
    --h5-font-size: calc(var(--font-size-normal) * 1.25);
    --h6-font-size: calc(var(--font-size-normal));
    --heading-margin-bottom: calc(var(--spacer) * 0.9);
    --heading-font-family: var(--font-family-base);
    --heading-font-weight: var(--font-weight-bold);
    --heading-line-height: 1.2;
    --heading-color: inherit;

    /* borders */
    --border-radius: 0.20em;

    /* wc-button */
    --button-background-color: var(--control-color);
    --button-background-color-hover: var(--control-color-hover);
    --button-background-color-active: var(--control-color-active);
    --button-background-color-disabled: var(--control-color-disabled);
    --button-color: var(--dark-color);
    --button-color-hover: var(--dark-color);
    --button-color-active: var(--light-color);
    --button-color-disabled: var(--light-color);
    --button-font-weight: var(--font-weight-bold);
    --button-font-weight-hover: var(--font-weight-bold);
    --button-font-weight-active: var(--font-weight-bold);
    --button-font-weight-disabled: var(--font-weight-bold);
    --button-border-radius: var(--border-radius);
    --button-border-radius-left: var(--button-border-radius);
    --button-border-radius-right: var(--button-border-radius);
    --button-font-size: var(--font-size-normal);
    --button-padding-x: 0.45em;
    --button-padding-y: 0.45em;
    --button-offset-active: 0.1em;

    /* wc-close-button */
    --button-close-padding: 0;
    --button-close-margin-x: 0.5em;
    --button-close-margin-y: 0.5em;
    --button-close-color-hover: var(--control-color-hover);
    --button-close-color-active: var(--control-color-active);

    /* wc-badge */
    --badge-background-color: var(--primary-color);
    --badge-color: var(--light-color);
    --badge-padding-x: 0.35em;
    --badge-padding-y: 0.35em;
    --badge-font-size: var(--font-size-small);
    --badge-font-weight: var(--font-weight-bold);
    --badge-border-radius: var(--border-radius);

    /* wc-nav */
    --nav-border-bottom: 1px solid var(--secondary-color);

    /* wc-navbar */
    --navbar-background-color: var(--primary-color);
    --navbar-color: var(--light-color);
    --navbar-border-bottom:  0.5px solid var(--light-color);
    --navbar-padding: calc(var(--spacer) * 0.5) calc(var(--spacer) * 1.5);

    /* navitem-view */
    --navitem-color: var(--dark-color);
    --navitem-color-hover: var(--dark-color);
    --navitem-color-active: var(--dark-color);
    --navitem-color-disabled: var(--light-color);
    --navitem-background-color: inherit;
    --navitem-background-color-hover: inherit;
    --navitem-background-color-active: inherit;
    --navitem-background-color-disabled: inherit;
    --navitem-font-weight: var(--font-weight-normal);
    --navitem-font-weight-active: var(--font-weight-bold);
    --navitem-font-weight-hover: var(--font-weight-bold);
    --navitem-font-weight-disabled: var(--font-weight-light);
    --navitem-padding: calc(var(--spacer) * 0.5) var(--spacer);

    /* forms */
    --form-input-background-color: none;
    --form-input-color: var(--dark-color);
    --form-input-margin: calc(var(--spacer) * 0.5) 0;
    --form-input-padding: calc(var(--spacer) * 0.5) calc(var(--spacer) * 0.5);
    --form-input-font-size: var(--font-size-normal);
    --form-input-font-weight: var(--font-weight-normal);
    --form-input-line-height: 1;
    --form-input-border: 0.5px solid var(--control-color);

    --form-input-background-color-focus: none;
    --form-input-color-focus: var(--dark-color);
    --form-input-border-focus: 0.5px solid var(--dark-color);

    --form-checkbox-background-color: none;
    --form-checkbox-color: var(--dark-color);
    --form-checkbox-margin: calc(var(--spacer) * 0.5) 0;
    --form-checkbox-padding: 1 0;
    --form-checkbox-line-height: 1;

    --form-label-background-color: none;
    --form-label-color: var(--dark-color);
    --form-label-padding: calc(var(--spacer) * 0.5) calc(var(--spacer) * 0.5);
    --form-label-font-size: var(--font-size-small);
    --form-label-font-weight: var(--font-weight-light);
    --form-label-line-height: 1;
    --form-label-border: none;

    /* tables */
    --table-background-color: inherit;
    --table-background-color-hover: var(--control-color-hover);
    --table-background-color-active: var(--control-color-active);
    --table-color: inherit;
    --table-border: 1px solid var(--light-color);
    --table-margin-x: var(--spacer-1);
    --table-margin-y: var(--spacer-1);
    --table-vertical-align: top;

    /* modal */
    --modal-zindex: 999;
    --modal-margin: 20%;
    --modal-padding: calc(var(--spacer) * 1.5);
    --modal-backdrop-color: rgba(0, 0, 0, 0.5);
    --modal-color: var(--body-color);
    --modal-background-color: var(--body-background-color);
    --modal-border: 0.5px solid var(--control-color);
    --modal-border-radius: var(--border-radius);
    --modal-fade-time: var(--fade-time);

    /* toast */
    --toast-min-width: 250px;
    --toast-background-color: var(--body-background-color);
    --toast-color: var(--body-color);
    --toast-border: 1px solid var(--secondary-color);
    --toast-border-radius: var(--border-radius);
    --toast-padding-x: var(--spacer);
    --toast-padding-y: var(--spacer);
    --toast-zindex: 999;
    --toast-opacity: 0.90;
    --toast-fade-time: var(--fade-time);
}