/* Import fonts */
@import url(../assets/font/ibmplexsans.css);
@import url(../assets/font/ibmplexmono.css);
@import url(../assets/font/opensans.css);

:root {
  color-scheme: light dark;
}

/* force light theme when this class is present */
.light-mode {
  color-scheme: only light;
}

/* force dark theme when this class is present */
.dark-mode {
  color-scheme: only dark;
}

body {
  background-color: light-dark(var(--light-color), var(--dark-color));
  color: light-dark(var(--dark-color), var(--light-color));
  margin: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-default);
}

/* spacings */
:root {
  --space-default: 0.5em;
  --space-small: calc(var(--space-default) / 2);
}

/* fonts */
:root {
  --font-family-base: 'IBM Plex Sans', sans-serif;
  --font-family-mono: 'IBM Plex Mono', monospace;
  --font-size-default: calc(var(--space-default) * 2);
  --font-size-small: calc(var(--font-size-default) * 0.8);
  --font-size-large: calc(var(--font-size-default) * 1.2);
  --font-size-xlarge: calc(var(--font-size-default) * 1.5);
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
}

/* colors */
:root {
  --light-color: #f7f7f7;
  --dark-color: #555;
  --white-color: #fff;
  --black-color: #000;

  --primary-color: #16f;
  --secondary-color: #aaa;
  --success-color: #285;
  --warning-color: #f72;
  --error-color: #f55;
  
  --primary-opp-color: var(--light-color);
  --secondary-opp-color: var(--light-color);
  --success-opp-color: var(--light-color);
  --warning-opp-color: var(--light-color);
  --error-opp-color: var(--light-color);
  --light-opp-color: var(--dark-color);
  --dark-opp-color: var(--light-color);
  --white-opp-color: var(--black-color);
  --black-opp-color: var(--white-color);

  --grey-10-color: #EAEAEA;
  --grey-20-color: #D0D0D0;
  --grey-30-color: #B6B6B6;
  --grey-40-color: #9C9C9C;
  --grey-50-color: #828282;
  --grey-60-color: #6A6A6A;
  --grey-70-color: #4E4E4E;
  --grey-80-color: #343434;
  --grey-90-color: #1A1A1A;  
}

/* icons */
:root {
  --icon-size-small: 1.1em;
  --icon-size-medium: 1.5em;
  --icon-size-large: 2em;
  --icon-size-xlarge: 3em;
}

/* buttons */
:root {
  --button-margin: calc(var(--space-small) * 2) var(--space-small);
  --button-padding: var(--space-default) var(--space-default);
  --button-border: calc(var(--space-small) / 4) solid light-dark(var(--grey-50-color),var(--grey-50-color));
  --button-border-radius: calc(var(--space-small) / 2);
  --button-font-weight-active: var(--font-weight-semibold);
  --button-opacity-disabled: 0.4;
}

/* navigation */
:root {
  --nav-background-color: light-dark(var(--grey-20-color),var(--grey-80-color));
  --nav-background-color-hover: inherit;
  --nav-text-color: light-dark(var(--dark-color), var(--light-color));
  --nav-text-color-hover: inherit;
  --nav-border: 0.05rem solid light-dark(var(--grey-50-color),var(--grey-50-color));
  --nav-border-item: 0.25rem solid light-dark(var(--grey-20-color),var(--grey-80-color));
  --nav-border-item-hover: 0.25rem solid red;
  --nav-font-weight-active: var(--font-weight-semibold);
}

/* toast */
:root {
  --toast-margin: calc(var(--space-small) * 2) var(--space-small);
  --toast-padding: var(--space-default) var(--space-default);
  --toast-border: calc(var(--space-small) / 4) solid light-dark(var(--grey-50-color),var(--grey-50-color));
  --toast-border-radius: calc(var(--space-small) / 2);
  --toast-background-color: light-dark(var(--grey-20-color),var(--grey-80-color));
  --toast-text-color: light-dark(var(--light-color),var(--dark-color));
}
