<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Document.Title }}</title>
    <meta name="description" content="{{ .Document.Description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">go-server</a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 my-4">
                <h1>{{ if .Parent }}<a href="{{ .Parent }}">..</a> / {{ end }}{{ .Document.Title }}</h1>
                {{ if .Document.Shortform }}<blockquote>{{ .Document.Shortform }}</blockquote>{{ end }}
                <div class="p-3 bg-light rounded">
                    {{ range $i, $html := .Document.HTML }}{{ template "html" $html }}{{ end }}
                </div>
            </div>
            <div class="col-md-4 pt-2 bg-light border-start">
                <h5>Document</h5>
                <dl>
                    <dt>Title</dt>
                    <dd>{{ .Document.Title }}</dd>
                    <dt>Description</dt>
                    <dd>{{ .Document.Description }}</dd>
                    {{ if .Document.Shortform }}<dt>Shortform</dt><dd>{{ .Document.Shortform }}</dd>{{ end }}
                    {{ if .Document.Tags }}{{ template "tags" .Document.Tags }}{{ end }}
                </dl>
                <hr>
                <h5>File</h5>
                <dl>
                    <dt>Name</dt>
                    <dd>{{ .File.Name }}</dd>
                    {{ if .Path }}<dt>Path</dt><dd>{{ .Path }}</dd>{{ end }}
                    {{ if .Parent }}<dt>Parent</dt><dd>{{ .Parent }}</dd>{{ end }}
                    {{ if .Ext }}<dt>Ext</dt><dd>{{ .Ext }}</dd>{{ end }}
                    <dt>ModTime</dt>
                    <dd>{{ .File.ModTime }}</dd>
                    {{ if and (not .File.IsDir) .File.Size }}<dt>Size</dt><dd>{{ .File.Size }}</dd>{{ end }}
                </dl>
                {{ if .Document.Meta }}{{ template "meta" .Document.Meta }}{{ end }}
            </div>
        </div>
    </div>
</body>

</html>

{{ define "html" }}
    {{ if eq .Class "fileinfo" }}
      {{ template "fileinfo" . }}
    {{ else }}
        <div{{ if .Class }} class="{{ .Class }}"{{ end }}>
            {{ if .Title }}
                {{ if .Level }}<h{{.Level}}>{{ end }}
                    {{ if .Anchor }}<a href="{{ .Anchor }}">{{ end }}
                    {{ .Title }}
                    {{ if .Anchor }}</a>{{ end }}
                {{ if .Level }}</h{{.Level}}>{{ end }}
            {{ end }}
            {{ .HTML }}
        </div>
   {{ end }}
{{ end }}

{{ define "meta" }}
<hr>
<h5>Meta</h5>
<dl>
    {{ range $k, $v := . }}<dt>{{ $k }}</dt><dd>{{ $v }}</dd>{{ end }}
</dl>
{{ end }}

{{ define "tags" }}
<dt>Tags</dt>
<dd>{{ range $i, $tag := . }}<div class="badge bg-primary me-1 text-uppercase">{{ $tag }}</div>{{ end }}</dd>
{{ end }}

{{ define "fileinfo" }}
  <div class="fileinfo">
    {{ if .IsDir }}<i class="bi bi-folder-fill"></i>{{ else }}<i class="bi bi-file-earmark"></i>{{ end }}
    {{ if .Anchor }}<a href="{{ .Anchor }}">{{ end }}{{ .Title }}{{ if .Anchor }}</a>{{ end }}
    {{ if and (not .IsDir) .Size }}<span class="badge bg-secondary mx-1">{{ .Size }}</span>{{ end }}<span class="badge bg-secondary mx-1">{{ .ModTime }}</span>
  </div>
{{ end }}
