[Unit]
Description=Plugggable go-server monolith: httpserver
Documentation=https://github.com/mutablelogic/go-server
After=network-online.target

[Service]
User=nginx
EnvironmentFile=/opt/go-server/etc/go-server.env
WorkingDirectory=/opt/go-server
ExecStart=/opt/go-server/bin/server -addr "${GOSERVER_ADDR}" etc/go-server*.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target